In [1]:
a = [1,2,3]
b = a
c = [1,2,3]
print(a == b, a == c, a is b, a is c)

True True True False

In [6]:
one = [1, "2", 3, "4"]
two = ("a", "b", "c", "d")
three = one + two

TypeError: can only concatenate list (not "tuple") to list

In [7]:
config = {
    "server": {
        "host": "127.0.0.1",
        "port": "22"
    },
    "configuration": {
        "ssh": {
            "access": True,
            "login": "some",
            "password": "some"
        },
        "name": "2491Oaaf1414"
    }
}

config['configuration']['ssh']['login']

'some'

In [10]:
import pandas as pd
solar_data = pd.read_csv('solarpower.csv')
solar_data.head()
solar_data['cum_power'].mean()

23775.573795180724

In [11]:
for i in range(len(solar_data)):
    if solar_data.loc[i, 'cum_power']==-1.0:
        solar_data.loc[i, 'cum_power']=(solar_data.loc[i-1, 'cum_power']+solar_data.loc[i+1, 'cum_power'])/2
        
round(solar_data['cum_power'].mean())

23848

In [18]:
solar_data['day_power']=solar_data['cum_power'].diff()

solar_data['date']=pd.to_datetime(solar_data['date'])
solar_data.info()
solar_data['mounths']=solar_data['date'].dt.to_period('M')
display(solar_data)

solar_data.groupby('mounths')['day_power'].mean()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664 entries, 0 to 663
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       664 non-null    datetime64[ns]
 1   cum_power  664 non-null    float64
 2   day_power  663 non-null    float64
 3   mounths    664 non-null    period[M]
dtypes: datetime64[ns](1), float64(2), period[M](1)
memory usage: 20.9 KB

          date  cum_power  day_power  mounths
0   2017-01-01    20111.0        NaN  2017-01
1   2017-01-02    20112.0        1.0  2017-01
2   2017-01-03    20115.0        3.0  2017-01
3   2017-01-04    20117.0        2.0  2017-01
4   2017-01-05    20119.0        2.0  2017-01
..         ...        ...        ...      ...
659 2018-10-22    28101.0        6.0  2018-10
660 2018-10-23    28109.0        8.0  2018-10
661 2018-10-24    28115.0        6.0  2018-10
662 2018-10-25    28117.0        2.0  2018-10
663 2018-10-26    28120.0        3.0  2018-10

[664 rows x 4 columns]

mounths
2017-01     3.233333
2017-02     3.714286
2017-03    10.774194
2017-04    16.300000
2017-05    19.000000
2017-06    21.500000
2017-07    18.129032
2017-08    15.064516
2017-09    11.533333
2017-10     6.419355
2017-11     3.233333
2017-12     1.161290
2018-01     2.064516
2018-02     6.928571
2018-03     8.709677
2018-04    14.633333
2018-05    21.032258
2018-06    18.766667
2018-07    22.000000
2018-08    17.096774
2018-09    13.866667
2018-10     9.000000
Freq: M, Name: day_power, dtype: float64